# Игнорировать файлы Composer
/vendor/

# Игнорировать кэш Composer
/composer.phar
/composer.lock

# Игнорировать файлы среды разработки
/.idea/
/.vscode/

# Игнорировать сгенерированные файлы кода
*.log
*.sql
*.sqlite

# Игнорировать временные файлы
*.tmp
*.temp

# Игнорировать файлы с настройками проекта
.env

# Игнорировать загруженные зависимости Node.js
/node_modules/

# Игнорировать сгенерированные документы
/doc/
/docs/

# Игнорировать сгенерированные файлы
/build/
/dist/

# Игнорировать артефакты тестирования
/phpunit.xml
/phpunit.xml.dist
/phpunit-coverage.xml
/.phpunit.*
